/* Use rem for accessibility purposes and a bigger line height for readability */
body {
    font-size:1.050rem;
    line-height: 1.5;
	font-family: 'Lucida Console','Lucida Sans Typewriter','monaco','Bitstream Vera Sans Mono','monospace'; 
    background-image: url('../img/dark-honeycomb.png');
    color:#d8d5d5;
    width: 800px;
    margin: 0 auto;
    text-align: center;
    list-style-position: inside;
}

a {
    color: #e7afaf;
    font-weight: 800;
    font-size:1.2rem;
}

a:hover{
    color: white;
}

.nav-links {
    list-style-type: lower-alpha;
}

.nav-links a{
    text-decoration: underline;
    color:#e7afaf;
    font-weight:800;
}


